<div id="pid_homeContainer">
  <div id="pid_homeColContainer" layout="row">
    <div id="pid_leftDiv">
        <img ng-click="imageClick()" id="pid_profilePic" ng-src="{{profile.url}}" alt="" />
        <md-divider></md-divider>
        <div id="pid_persDescription">
          <p ng-bind-html="profile.description | trustUrl"></p>
          <md-divider></md-divider>
          <p ng-bind-html="profile.email | trustUrl" style="text-align:right"></p>
          <p ng-bind-html="profile.cellphone" style="text-align:right"></p>
        </div>
    </div>
    <md-divider> </md-divider>
    <div id="pid_rightDiv">
      <div layout="row" layout-align="end center" ng-cloak="">
        <md-fab-speed-dial md-open="menuOpen" md-direction="left" ng-class="menuOpenType" ng-click="menuOpen=!menuOpen">
          <md-fab-trigger>
            <md-button class="md-fab md-mini md-primary">
              <md-icon class="pc_homeIcons" aria-label="menuAria">menu</md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button ng-click="goGithub()" class="md-fab md-mini">
              <md-icon md-font-set="fa" class="fa fa-github pc_homeIcons" aria-label="githubAria"></md-icon>
            </md-button>
            <md-button ng-click="displayNote($event)" class="md-fab md-mini">
              <md-icon class="pc_homeIcons" aria-label="noteAria">&#xE89C;</md-icon>
            </md-button>
          </md-fab-actions>
        </md-fab-speed-dial>
        <md-button id="pid_logoutIcon" class="md-fab md-mini" ng-click="logoutClick()">
          <md-icon md-font-set="fa" class="fa fa-sign-out pc_homeIcons" aria-label="logoutAria"></md-icon>
        </md-button>
      </div>
      <div>
        <div ng-repeat="project in projects">
          <md-content class="md-padding">
             <div>
               <md-card id="pid_card">
                 <md-card-title>
                   <md-card-title-text id="pid_cardTextContainer">
                     <span class="md-headline">{{project.title}}</span>
                     <span id="pid_cardText" class="md-subhead" ng-bind-html= "project.description"></span>
                   </md-card-title-text>
                 </md-card-title>
                 <video style="width:90%; margin:5%" controls ng-src="{{project.url | trustUrl}}" type="video/mp4"> </video>
               </md-card>
             </div>
           </md-content>
           <md-divider>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Upload a File ( to update the profile or a project)-->
<!-- <file-input on-upload="uploadFile($event)"> </file-input> -->
