.pc_homeIcons {
  font-size:24px;
}
.pc_card {
  background-color:rgba(0, 0, 0, 0.12);
}

#pid_homeContainer {
  margin:auto;
  max-width:1500px;
}

#pid_leftDiv {
  flex: 1 0 auto !important;
}

#pid_profilePic {
  width:100%;
}

#pid_logoutIcon {
  background-color:black;
}

#pid_profilePic:focus {
  outline:none;
}
