.pc_loginOuter {
    max-width:400px;
    margin:auto;
    position:relative;
}

.pc_loginInputs {
    margin-top:0;
}

#pid_infoIcon {
    color:rgba(0,0,0,0.12);
    margin-top:1rem;
    transition: all 0.1s;
    font-size:30px;
    outline:none;
}

#pid_infoIcon:hover {
    color:#106CC8;
}

.md-button {
    color:white;
    background-color:rgba(0,0,0,0.12);
}

.md-button:not([disabled]):hover {
  background-color: #106CC8;
}
